#container{
    display: flex;
    flex-wrap: wrap; 
    width: 960px;
    height : 960px;  
    margin: auto;
}
#container div{
    
    box-sizing: border-box;  
    border: 1px solid #ccc;   
}
#container div:hover,#container div.permanent-hover{
    background-color: black;

}
button{
    padding: 10px 20px;
    border:none;
    background-color: crimson;
    color:white;
    margin-bottom: 10px;
    border-radius: 5px;
}
